<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Joogastudio Superjooga</title>
  </head>

  <body>
      {% if current_user.is_authenticated %}
      <p>
	    Kirjautunut nimellä {{ (current_user.etunimi + " " + current_user.sukunimi) }}. <a href="{{ url_for('kayttaja_logout') }}">Kirjaudu ulos</a>
      </p>
      {% else %}
      <a href="{{ url_for('asiakas_login') }}">Kirjaudu (asiakas)</a><br>
      <a href="{{ url_for('ohjaaja_login') }}">Kirjaudu (ohjaaja)</a>
      {% endif %}
      <ul>
          <li><a href="{{ url_for('index') }}">Etusivulle</a></li>
          <li><a href="{{ url_for('asiakas_index') }}">Lista asiakkaista (ohjaajat)</a></li>
          <li><a href="{{ url_for('asiakas_form') }}">Uusi asiakas</a></li>
          <li><a href="{{ url_for('kurssi_index') }}">Lista kursseista</a></li>
          <li><a href="{{ url_for('kurssi_form') }}">Hallinnoi kursseja (ohjaajat)</a></li>
              </ul>
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>