
{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('asiakas_create') }}">
  {{form.etunimi.label}}
  {{form.etunimi}}
  {{form.sukunimi.label}}
  {{form.sukunimi}}
  {{form.login.label}}
  {{form.login}}
  {{form.salasana.label}}
  {{form.salasana}}  
  <input type="submit" value="Rekisteröidy"/> 
</form>


{% endblock %}


<!--
  <label for="etunimi">etunimi</label>
  <input type="text" name="etunimi"/>

  <label for="sukunimi">sukunimi</label>
  <input type="text" name="sukunimi"/>

  <label for="login">käyttäjätunnus</label>
  <input type="text" name="login"/>

  <label for="salasana">salasana</label>
  <input type="password" name="salasana"/>
-->