{% extends "layout.html" %}

{% block body %}
<p style="color:red;">{{ error }}</p>
<form method="POST" action="{{ url_for('kayttaja_login') }}">
  <table>
    <tr>
      <td>
	{{ form.login.label }}
      </td>
      <td>
	{{ form.login }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.salasana.label }}
      </td>
      <td>
	{{ form.salasana }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input class="btn btn-primary" type="submit" value="Kirjaudu"/>
      </td>
    </tr>
</form> 
{% endblock %}