{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('kayttaja_create') }}">
  {{form.etunimi.label}}<br>
  {{form.etunimi}} <br>
  {{form.sukunimi.label}}<br>
  {{form.sukunimi}}<br>
  {{form.login.label}}<br>
  {{form.login}}<br>
  {{form.salasana.label}}<br>
  {{form.salasana}}<br> <br>
  <input class="btn btn-primary" type="submit" value="Rekisteröidy"/> 
</form>
<ul>
    {% for error in form.etunimi.errors %}
    <li style="color:red;">{{ error }}</li>
    {% endfor %}
    
    {% for error in form.sukunimi.errors %}
    <li style="color:red;">{{ error }}</li>
    {% endfor %}

    {% for error in form.login.errors %}
    <li style="color:red;">{{ error }}</li>
    {% endfor %}

    {% for error in form.salasana.errors %}
    <li style="color:red;">{{ error }}</li>
    {% endfor %}
</ul>

<p>Kun olet rekisteröitynyt, voit kirjautua sisään sivun oikeasta yläkulmasta.</p>

{% endblock %}