{% extends "layout.html" %}
  
{% block body %}

<h1>Ilmoittaudu kursseille</h1>
<table>
    
    <tr>
        <th>Kurssin nimi</th>
        <th>ohjaaja</th>
        <th>ajankohta</th>
        <th>kesto (h)</th>
        <th>ilmoittaudu</th>
        
    </tr>

    {% for x in asiakas_kurssit %}
    <tr>
        <td>{{ x.kuvaus }}</td>
        <td>{{ x.ohjaaja.kayttaja.etunimi }}</td>
        <td>{{ x.aika }}</td>
        <td>{{ x.kesto }}</td>
        <td>OK!</td>
    </form>
    </tr>
    
    {% endfor %}

    {% for x in kurssi %}
    <tr>
    <form method="POST" action="{{ url_for('kurssi_ilmoittaudu', id=x.id) }}">
        <td>{{ x.kuvaus }}</td>
        <td>{{ x.ohjaaja.kayttaja.etunimi }}</td>
        <td>{{ x.aika }}</td>
        <td>{{ x.kesto }}</td>
        <td><input type="submit" value="ilmoittaudu"/></td>
    </form>
    </tr>
    
    {% endfor %}
</table>

{% endblock %}  