{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('kurssi_muokkaa_save', id=id) }}">
  
    {{form.kuvaus.label}}
    {{form.kuvaus}}
    {{form.ohjaaja.label}}
    {{form.ohjaaja}}
    {{form.pvm.label}}
    {{form.pvm}}
    {{form.kellonaika.label}}
    {{form.kellonaika}}
    {{form.kesto.label}}
    {{form.kesto}}
    <input type="submit" value="päivitä"/>
  </form>
  <ul>
      {% for error in form.kesto.errors %}
      <li style="color:red;">{{ error }}</li>
      {% endfor %}
  </ul>
{% endblock %}  
