{% extends "layout.html" %}
  
{% block body %}

<h1>Tilastoja</h1>
<p>Tältä sivulta löytyy keskeisiä tilastoja joogastudio Superjoogan toiminnasta.</p>
<h2>Asiakkaita per kurssi</h2>

{% if asiakkaita_per_kurssi is defined %}
<table class="table">
        <tr>
            <th scope="col">Kurssin nimi</th>
            <th scope="col">ajankohta</th>
            <th scope="col">asiakkaita</th>
        </tr>
        {% for kurssi in asiakkaita_per_kurssi %}
        <tr>
            <td>{{ kurssi.kuvaus }}</td>
            <td>{{ kurssi.aika }}</td>
            <td>{{ kurssi.asiakkaita }}</td>
        </tr>
        {% endfor %}
       
</table>
{% endif %}

<h2>Suosituimmat kurssityypit</h2>
{% if suosituimmat_kurssityypit is defined %}
<table class="table">
        <tr>
            <th scope="col">Kurssin tyyppi</th>
            <th scope="col">asiakkaita</th>
        </tr>
        {% for kurssi in suosituimmat_kurssityypit %}
        <tr>
            <td>{{ kurssi.kuvaus }}</td>
            <td>{{ kurssi.asiakkaita }}</td>
        </tr>
        {% endfor %}
       
</table>
{% endif %}


{% endblock %}
