{% extends "layout.html" %}
  
{% block body %}

<h1>Lisää uusi kurssi</h1>
<form method="POST" action="{{ url_for('kurssi_create') }}">
  
    {{form.kuvaus.label}}
    {{form.kuvaus}}
    {{form.ohjaaja.label}}
    {{form.ohjaaja}}
    {{form.pvm.label}}
    {{form.pvm}}
    {{form.kellonaika.label}}
    {{form.kellonaika}}
    {{form.kesto.label}}
    {{form.kesto}}
    <input class="btn btn-primary" type="submit" value="Lisää kurssi"/>
  </form>
  <ul>
      {% for error in form.kesto.errors %}
      <li style="color:red;">{{ error }}</li>
      {% endfor %}
  </ul>

<h1>Muokkaa kursseja</h1>
<table class="table">
    <tr>
        <th scope="col">Kurssin nimi</th>
        <th scope="col">ohjaaja</th>
        <th scope="col">ajankohta</th>
        <th scope="col">kesto (h)</th>
        
    </tr>
    {% for x in kurssi |sort(attribute='aika')|sort(attribute='kuvaus') %}
    <tr>
        <td>{{ x.kuvaus }}</td>
        <td>{{ x.ohjaaja.kayttaja.etunimi }}</td>
        <td>{{ x.aika.strftime('%d.%m.%y klo %H.%M') }}</td>
        <td>{{ x.kesto }}</td>

        <td><a class="btn btn-primary" href="{{ url_for('kurssi_muokkaa', id=x.id ) }}">Päivitä kurssin tietoja</a></td>

        <td>
          <form method="POST" action="{{ url_for('kurssi_poista') }}">
            <input type ="hidden" name="kurssi_id" value ="{{x.id}}"/>
            <input class="btn btn-primary" type="submit" value="Poista kurssi"/>
          </form>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}